.custome-countries-slider {
  height: 200px;
  text-align: center;
}

.swiper-pagination {
  bottom: 10px;
  /* Adjust distance from the bottom */
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  /* Customize bullet color */
  opacity: 0.7;
}

.image-border {
  border-radius: 40px;
}

.call-link {
  color: #000000b3;

}

.call-link:hover {
  color: #000000b3;

}

.contact-main {
   display: flex;
   gap:40px;
   margin-bottom: 40px;
}

@media (max-width: 500px){
  .contact-main {
    flex-direction: column;
  }
}